{% extends 'base.html.twig' %}

{% block title %}Postes{% endblock %}

{% block body %}
<div class="dashboard">

    <div class="top-bar">
        <h1>Postes</h1>
        <a href="{{ path('app_poste_new') }}" class="btn-add">+ Nouveau poste</a>
    </div>

    {% for poste in postes %}
        <details class="current" data-random-border>
            <summary>
               <a href="{{ path('app_poste_show', {'id': poste.id}) }}">{{ poste.libelle }}</a>
                <span class="count">{{ poste.etapes|length }}</span>
            </summary>

           

            {% if poste.etapes|length > 0 %}
                {% for etape in poste.etapes %}
                    <a class="project-item"
                       href="{{ path('app_etape_show', {'id': etape.id}) }}">
                        <div>
                            <div class="client-name">
                                {{ etape.libelle }}
                                <small style="color:#777; margin-left:8px;">
                                    {{ etape.etapeFormat.libelle }}
                                </small>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p style="padding:15px;">Aucune étape pour ce poste</p>
            {% endif %}
        </details>
    {% endfor %}

</div>
{% endblock %}
