<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Comble & Création{% endblock %}</title>

    {{ importmap('app') }}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="nomSite">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo">
            <h1>Comble & Création</h1>
        </div>

        <nav>
            <ul class="menu">

                <li class="menu-item">Chantiers</li>
                <ul class="submenu">
                    <li><a href="{{ path('app_chantier_index') }}">Liste des chantiers</a></li>
                    <li><a href="{{ path('app_chantier_new') }}">Ajouter un chantier</a></li>
                </ul>

                <li class="menu-item">Postes</li>
                <ul class="submenu">
                    <li><a href="{{ path('app_poste_index') }}">Liste des postes</a></li>
                    <li><a href="{{ path('app_poste_new') }}">Ajouter un poste</a></li>
                </ul>

                <li class="menu-item">Equipes</li>
                <ul class="submenu">
                    <li><a href="{{ path('app_equipe_index') }}">Liste des equipes</a></li>
                </ul>

            </ul>
        </nav>

        {% if app.user %}
            <form method="post" action="{{ path('app_logout') }}">
                <button type="submit" class="btn-logout">
                    Se déconnecter
                </button>
            </form>
        {% endif %}

    </aside>

    <!-- CONTENU -->
    <main class="content">

        <div class="dashboard">
            {% block body %}{% endblock %}
        </div>

    </main>

</div>

</body>
</html>
